.firstTable {
  margin: 20px auto;
  width: 70%;
  border-spacing: 0;
  table-layout: fixed;
}

.firstTable th {
  background-color: lightseagreen;
  border-bottom: solid;
  border-bottom-color: black;
}

.firstTable td {
  width: 20%;
  padding: 5px;
}

.firstTable tr {
  background-color: lightcyan;
}

.firstTable tr:hover,
.firstTable tr:nth-child(even):hover {
  background-color: dodgerblue;
}

.firstTable td:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.firstTable tr:nth-child(even) {
  background-color: paleturquoise;
}

.secondTable {
  border-spacing: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.secondTable td {
  padding: 8px;
}

.secondTable td:nth-child(1) {
  background-color: #3fbf80;
}

.secondTable td:nth-child(2) {
  background-color: #3c9;
}

.secondTable td:nth-child(3) {
  background-color: #26d9bb;
}

.secondTable td:nth-child(4) {
  background-color: #19e6e6;
}

.secondTable td:nth-child(5) {
  background-color: #0cccf3;
}

.secondTable td:nth-child(6) {
  background-color: #02aafe;
}