body {
  font-size: 16px;
  max-width: 800px;
}

.products {
  width: 100%;
  margin: 20px 0 0 20px;
  font-family: sans-serif;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

.products thead {
  background-color: #63b8ff;
  border-bottom: 3px solid #000000;
}

.products tr {
  padding: 0.5rem;
  width: 20%;
}

.products td {
  padding: 0.5rem;
  width: 20%;
}

.products tr:nth-child(2n) {
  background: #ade1ff;
}

.products td:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.products tr:hover {
  background: #60d7fe;
}

.piggy {
  margin: 40px 0 0 20px;
  border-spacing: 8px;
}

.piggy td {
  padding: 8px;
}

.piggy td:nth-child(1) {
  background: rgb(64, 190, 128);
}

.piggy td:nth-child(2) {
  background: rgb(52, 204, 153);
}

.piggy td:nth-child(3) {
  background: rgb(39, 217, 187);
}

.piggy td:nth-child(4) {
  background: rgb(26, 229, 230);
}

.piggy td:nth-child(5) {
  background: rgb(12, 204, 243);
}

.piggy td:nth-child(6) {
  background: rgb(3, 170, 255);
}