.yellow{
	list-style-type: none;
	padding:0;
}
	ul li::before{
		content: "\25CF";
		color: #ffee00;
		padding-right: 10px;
	}

.blue{
    list-style-type: none; 
    counter-reset: num; 
}
  ol li::before {
    content: counter(num); 
    counter-increment: num;
    color: #2138ED;
   }