@import url(//fonts.googleapis.com/css?family=Roboto:300);

body {
  min-width: 1080px;
}

.form {
  width: 100%;
  height: 65px;
  background-color: #3e4757;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.form-item {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  letter-spacing: 0.9px;
  color: #fff;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 33px;
  margin-right: 33px;
  border-bottom: solid;
  border-bottom-width: 3px;
  border-bottom-color: #3e4757;
  box-sizing: border-box;
  text-wrap: none;
  text-decoration: none;
}

.form-item:hover {
  border-bottom-color: #ffdd2d;
}
