body {
  font-family: Roboto, sans-serif;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  padding: 12px;
  width: 805px;
  height: 108px;
  border-radius: 6px;
  border: solid 1px #dddfe0;
}

.tag-block {
  display: flex;
  position: relative;
  max-width: 300px;
  height: 15px;
  padding: 14px 35px 13px 11px;
  border-radius: 6px;
  background-color: #eef2f7;
  margin: 6px;
  font-size: 13px;
  color: #333;
  overflow: hidden;
}

.tag-text {
  max-width: 274px;
  white-space: nowrap;
}

.tag-delete {
  position: absolute;
  top: 10px;
  right: 0;
  height: 11px;
  width: 11px;
  padding: 11px 12px 11px 20px;
  background: url(img/cross.svg),linear-gradient(to right, rgba(238, 242, 247, 0), #eef2f7 25%);
  background-position: 60% center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.tag-input {
  max-height: 42px;
  border: none;
  margin: 6px;
  font-size: 13px;
  flex-grow: 1;
  outline: none;
}